body {
    background-color:#18191A;
}
h1 {
    color: #E4E6EB;
    text-align: center;
}
p {
    text-align: center;
    color: #E4E6EB;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}
button {
    display: flex;
    color: #E4E6EB;
    padding: 15px 32px;
    border-radius: 12px;
    border: none;
    background-color: #3A3B3C;
    border: none;
    margin: 10px 5px;
}