html {
    margin: 0 auto;
    width: 100%;
    min-height: 100%;
 }

head,
body {
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: #18191A;
    font-family: Arial, sans-serif;
}

h1 {
    color: #E4E6EB;
    text-align: center;
    padding-left: 1em;
}

.request {
    cursor: pointer;
    color: #E4E6EB;
    border-radius: 12px;
    border: none;
    background-color: #3A3B3C;
    margin: 10px 5px;
    font-size: 20px;
    width: 12em;
    height: 5em;
}

.btn-group {
    text-align: center;
}

.status-container {
    padding: 10px;
}

/* Fixed size of the status block */
.status-container > #status {
    height: 500px;
    overflow-x:hidden;
    overflow-y:auto;
}

#status {
    display: flex;
    background-color: #242526;
    border: 1.5px solid #B0B3B8;
    color: #E4E6EB;
    margin-top: 1.2em;
    border-radius: 4px;
    padding-left: 0.7em;
    white-space: pre-wrap;
    line-height: 1.7;
}
