head, body {
    margin: 0;
    height: 100%;
    width: 100%;
    background-color:#181818;
    font-family: Arial, sans-serif;
}

h1 {
    color: #FFFFFF;
    text-align: center;
    padding: 45px;
}

/* Center block */
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 540px;
}

/* Button "Windows turn on/off" */
button {
    display: flex;
    color: #FFFFFF;
    padding: 50px 65px;
    border-radius: 12px;
    border: none;
    background-color: #3A3B3C;
    border: none;
    margin: 10px 5px;
    font-size: 20px;
}

/* Server status block */
#display_status  {
    display: flex;
    position: fixed;
    background-color: #212121;
    border: 1.5px solid #818181;
    color: #ffffffec;
    float: left;
    width: 45%;
    height: 15%;
    margin: 0 1% 30px 3%;
    top: 80%;
    border-radius: 4px;
    padding: 0.7em;
    padding-top: 0em;
    white-space: pre-wrap;
    overflow: scroll;
    line-height: 0.7;
}
