<!DOCTYPE html>

<html lang="en-US"">
<head>
    <title>Item Details</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
</head>

<body>
    <h1>UFODeck</h1>

    <div class="btn-group">
        <button id="windows_on">Windows turn on</button>
        <button id="windows_off">Windows turn off</button>
    </div>

    <div id="display_status"></div>

    <!-- Windows turn on -->
    <script>
        var btn_win = document.getElementById("windows_on")
        var fake_terminal = document.getElementById("display_status")


        btn_win.onclick = function () {
            var request = new XMLHttpRequest()
            request.open('GET', 'http://localhost:8000/windows/on', true)

            request.onload = function () {
                var data = JSON.parse(this.response)

                fake_terminal.append('\n[username@<hostname> ~]$ ' + data.status)

            }
            request.send()
        }
    </script>

    <!-- Windows turn off -->
    <script>
        var btn_win = document.getElementById("windows_off")
        var fake_terminal = document.getElementById("display_status")


        btn_win.onclick = function () {
            var request = new XMLHttpRequest()
            request.open('GET', 'http://localhost:8000/windows/off', true)

            request.onload = function () {
                var data = JSON.parse(this.response)

                fake_terminal.append('\n[username@<hostname> ~]$ ' + data.status)

            }
            request.send()
        }
    </script>

</body>

</html>
