<!DOCTYPE html>

<html lang="en-US"">
<head>
    <title>Item Details</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
</head>

<body style="background-image: url({{ url_for('static', path='/aliens-dancing.gif') }})">
    <h1>UFODeck</h1>


    <div class="btn-group">
        <meta name="viewport" content="width=device-width">
        <button class="request" id="gpu_nvidia">GPU: nvidia</button>
        <button class="request" id="gpu_vfio">GPU: vfio-pci</button>
        <button class="request" id="performance">Host: performance</button>
        <button class="request" id="powersave">Host: powersave mode</button>
        <button class="request" id="win11_start">Windows 11 start</button>
        <button class="request" id="win11_destroy">Windows 11 destroy</button>
    </div>


    <div class="status-container">
        <meta name="viewport" content="width=device-width,height=device-height"/>
        <div id="status">Welcome to UFODeck!<br><br>[ayyy@lmao ~]$ </div>
    </div>


    <script>
        function map_button(id, url) {
            var btn = document.getElementById(id)
            btn.onclick = function () {
                // Disable all buttons
                request_buttons = document.getElementsByClassName('request')
                for (var i = 0; i < request_buttons.length; i++) {
                    var btn = request_buttons[i]
                    btn.disabled = true
                    btn.style.backgroundColor = '#242526'
                    btn.style.color = '#B0B3B8'
                }

                // Sending starting message
                var status = document.getElementById('status')
                status.append('\n=> Requesting ' + id + '...')

                // Sending request
                var request = new XMLHttpRequest()
                request.open('GET', url, true)
                request.onload = function () {
                    var data = JSON.parse(this.response)
                    status.append('\n' + data.status + '\n[ayyy@lmao ~]$ ')
                    status.scrollTo(0, status.scrollHeight);

                    // Reenable buttons
                    for (var i = 0; i < request_buttons.length; i++) {
                        var btn = request_buttons[i]
                        btn.disabled = false
                        btn.style.backgroundColor = '#3A3B3C'
                        btn.style.color = '#E4E6EB'
                    }
                }
                request.send()
            }
        }

        // Map buttons to API endpoints by id
        request_buttons = document.getElementsByClassName('request')
        for (var i = 0; i < request_buttons.length; i++) {
            var btn = request_buttons[i]
            map_button(btn.id, '/run/' + btn.id)
        }

    </script>

</body>

</html>
